@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
}

:root{

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

.texto1{

    padding-top: 20px;
    font-size: 25px;
}

.texto2{

    font-size: 26px;
}

.texto3{

    font-size: 15px;
    font-weight: 400;
}

body{
    background-color:  hsl(0, 0%, 98%) !important; 
}

.imagen{
width: 50px;
background-position: bottom;
}

.titulo{
font-weight: 600;
padding-top: 20px;    
}

.descripcion{
font-size: 11px;

}

.supervisor{

border-top: 4px solid hsl(180, 62%, 55%);

}

.builder{

border-top: 4px solid hsl(0, 78%, 62%);

}

.karma{

    border-top: 4px solid hsl(34, 97%, 64%);
    
    }

.calculator{

 border-top: 4px solid hsl(212, 86%, 64%) ;
        
}

.container{
    max-width: 375px;
}

@media (min-width: 990px) {



.botones{

    width: 100%;
}

.builder ,.karma ,.supervisor ,.calculator{
    width: 300px;
    
}




}

